* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}


.container h2 {
    font-size: 3rem;
    padding-bottom: 25px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 320px;
    gap: 10px;
    width: 90vw;
}

.gridItem {
    background-size: cover;
    cursor: pointer;
}

.spanItem {
    grid-column: span 2;
    grid-row: span 2;
}