* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}


.container h2 {
    font-size: 3rem;
    padding-bottom: 25px;
}

#smallGallery {
    display: none;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 320px;
    gap: 10px;
    width: 90vw;
}

.gridItem {
    background-size: cover;
    cursor: pointer;
}

.spanItem {
    grid-column: span 2;
    grid-row: span 2;
}

.lastItem {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.imageCounter {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: gray;
}

@media (max-width: 1160px) {
    #openGallery {
        display: none;
    }

    #smallGallery {
        display: block;
    }

    .smallItem {
        width: 90vw;
        height: 50vh;
        background-position: center; 
        display: flex;
        justify-content: flex-end;
        align-items: end;
        position: relative;
    }

    .smallCounter {
        display: flex;
        flex-direction: row;
        gap: 5px;
        background-color: whitesmoke;
        padding: 10px 0 25px 20px;
        border-radius: 7px;
        margin-bottom: 10px;
        margin-right: 10px;
        color: gray;
        width: 70px;
        height: 30px;
        position: absolute;
        margin-bottom: -10px;
    }
}