<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">
    <title>SwipePhoto</title>
</head>
<body>
    <div class="container">
        <h2>Photo Swiper</h2>
        <div id="smallGallery">
            <div class="smallItem" style="background-image: url('/images/image8.jpg');">
                <div class="smallCounter">
                    <div class="imageFont">
                        <i class="fa-solid fa-image"></i>
                    </div>
                    <span class="imageNumber">8</span>
                </div>
            </div>
        </div>
        <div id="openGallery" class="gridContainer">
              <div class="gridItem spanItem" style="background-image: url('/images/image1.jpg');"></div>
              <div class="gridItem" style="background-image: url('/images/image2.jpg');"></div>
              <div class="gridItem" style="background-image: url('/images/image3.jpg');"></div>
              <div class="gridItem" style="background-image: url('/images/image4.jpg');"></div>
              <div class="gridItem lastItem" style="background-image: url('/images/image5.jpg');">
                <div class="imageCounter">
                    <div class="imageFont">
                        <i class="fa-solid fa-image"></i>
                    </div>
                    <span class="imageNumber">8</span>
                </div>
              </div>
        </div>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="close(Esc)"></button>
                    <button class="pswp__button pswp__button--fs" title="Toogle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preleader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous(arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next(arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
    <script>

        var openPhotoSwipe = function () {
            var pswpElement  = document.querySelectorAll('.pswp')[0];


            var items = [
                {
                    src: '/images/image1.jpg',
                    w: 1440,
                    h: 1024
                },
                {
                    src: '/images/image2.jpg',
                    w: 1440,
                    h: 1024
                },
                {
                    src: '/images/image3.jpg',
                    w: 1440,
                    h: 1024
                },
                {
                    src: '/images/image4.jpg',
                    w: 1240,
                    h: 1224
                },
                {
                    src: '/images/image5.jpg',
                    w: 1440,
                    h: 1024
                },
                {
                    src: '/images/image6.jpg',
                    w: 1140,
                    h: 1324
                },
                {
                    src: '/images/image7.jpg',
                    w: 1440,
                    h: 1024
                },
                {
                    src: '/images/image8.jpg',
                    w: 1140,
                    h: 1324
                },
            ];

            var options = {
                history: false,
                focus: false,

                showAnimationDuration: 0,
                hideAnimationDuration: 0
            };


            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();

        };
        openPhotoSwipe();
        

        
        const openGallery = document.getElementById('openGallery');
        const smallGallery = document.getElementById('smallGallery');
        
        
        openGallery.onclick = openPhotoSwipe;
        smallGallery.onclick = openPhotoSwipe;
        
    </script>

    <script src="https://kit.fontawesome.com/4a2791f862.js" crossorigin="anonymous"></script>
    
</body>
</html>